{% extends 'core/base.html' %}
{%  block title%} {{item.name}} {%endblock%}

{%block content%}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{item.image.url}}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100">
        <h1 class="mb-6 text-3xl">{{item.name}}</h1>
        <p class="text-gray-600"><strong>Price: </strong>{{item.price}}</p>
        <p class="text-gray-600"><strong>Seller: </strong>{{item.created_by.username}}</p>
        <p class="text-gray-600"><strong>Uploaded: </strong>{{item.created_at}}</p>
        
        {%if item.description%}
        <p class="text-gray-500 mt-12"><strong>Product Description</p>
            <p class="text-gray-500 mt-5">{{item.description}}</p>
        {%endif%}


        <a href="#" class="inline-block px-6 py-2 mt-6 text-lg font-semibold bg-red-500 text-white hover:bg-red-600 rounded-xl"> Buy</a>
    </div>

</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-bold">Related Items</h2>
    <div class="grid grid-cols-4 gap-4">
        {%for r_item in related_items%}
            <div>
                <a href="{% url 'item:detail' r_item.id %}">

                    <img src="{{r_item.image.url}}" class="rounded-t-xl">
                
            

            <div class="p-6 bg-white rounded-b-xl">
                <h2 class="text-2xl">{{ r_item.name}}</h2>
                

            </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div> 



{%endblock%}